<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<div id="errors"></div>
<div class="row">
<div class="row">
<form validade class="form-safrapay-cc form col-md-6">
	<input type="hidden" name="antifraud_token" id="antifraud_token" />
	<div class="form-group col-md-6">
		<label class="control-label">Nome do titular do Cartão</label>
		<input type="text" class="form-control" value="{{ nome_completo }}" name="card_holder_name">
	</div>
	<div class="form-group col-md-6">
		<label class="control-label">CPF</label>
		<input type="text" required pattern="[0-9]{3}.[0-9]{3}.[0-9]{3}-[0-9]{2}" inputmode="numeric" data-mask="000.000.000-00"  class="form-control" value="{{ documento }}" name="card_holder_document">
	</div>
	<div class="form-group col-md-6">
		<label class="control-label">Número do Cartão</label>
		<div class="container-bandeira">
			<input type="text" pattern="[0-9]+" data-mask="0000 0000 0000 0000" required inputmode="numeric" class="form-control" name="safrapay_card_number" value="">
		</div>
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-12">
				<label class="control-label">Data de validade</label>
			</div>
			<div class="form-group col-md-6">
				<input type="text" pattern="[0-9]{2}" required inputmode="numeric" data-mask="00" min="1" max="12" class="form-control" maxlength="2" placeholder="MÊS" value="" name="safrapay_card_expiration_month">
			</div>
			<div class="form-group col-md-6">
				<input type="text" pattern="[0-9]{2}" required inputmode="numeric" data-mask="00" min="<?php echo date('y'); ?>" max="99" class="form-control" maxlength="2" placeholder="ANO" value="" name="safrapay_card_expiration_year">
			</div>
		</div>
	</div>
	<div class="form-group col-md-6">
		<label class="control-label">Número de Verificação do Cartão</label>
		<input type="text" required pattern="[0-9]{3,4}" inputmode="numeric" class="form-control" maxlength="4" name="safrapay_card_cvv" value="">
	</div>
	<div class="form-group col-md-6">
		<label class="control-label">Quantidade de parcelas</label>
		<select name="safrapay_card_installment" id="safrapay_card_installment" class="form-control">
			<option value="">Selecione a quantidade de parcelas</option>
      {% if order_info.total < parcela_minima %}
					<option value="1">1x de R${{ order_info.total|number_format(2, ',', '.') }}</option>
			{% else %}
  			{% for i in range(1, maximo_parcelas) %}
  				{% if (order_info.total/i) > parcela_minima %}
  					<option value="{{ i }}">{{ i }}x de R${{ (order_info.total/i)|number_format(2, ',', '.') }}</option>
  				{% endif %}
  			{% endfor %}
			{% endif %}
		</select>
	</div>
	<div class="col-md-12">
		<div class="buttons">
			<div class="pull-left">
				<label><input type="checkbox" name="safrapay_checkbox" required id="safrapay_checkbox" /> Aceito os <a href="admin/view/image/payment/safrapay/Termos-de-Uso-Portal-Aditum-V3-20210512.pdf" target="_blank" rel="noopener">TERMOS & CONDIÇÕES</a></label>
			</div>
			<div class="pull-right">
				<input type="button" value="{{ button_confirm }}" id="button-confirm" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
			</div>
		</div>
	</div>
</form>
<div class="col-md-6">
	<h3>Você está pagando com:</h3>
	<a href="https://safrapay.com.br" target="_blank"><img style="width: 70%;" src="https://portal.safrapay.com.br/logo.png" /></a>
</div>
</div>
</div>
<style>
	[name="safrapay_card_number"] {
		padding-left: 50px;
    background-image: url("admin/view/image/payment/safrapay/card.svg");
    background-repeat: no-repeat;
    background-size: 38px;
    background-position: 4px;
	}
</style>
<script type="text/javascript"><!--
$('[name="safrapay_card_number"]').on('blur, focus, keyup', function() {
	let bin = jQuery(this).val()
	if(bin.toString().length == 16) {
		$.ajax({
			method: 'POST',
			url: 'index.php?route=extension/payment/safrapay_cc/card_brand',
			dataType: 'json',
			data: {bin: bin},
			beforeSend: function() {
			},
			complete: function() {
			},
			success: function(res) {
				document.querySelector('[name="safrapay_card_number"]').style.backgroundImage = `url("admin/view/image/payment/safrapay/${res.brand}.svg")`
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	}
});
function TestaCPF(cpf) {
    cpf = cpf.replace(/[^\d]+/g,'');	
	if(cpf == '') return false;	
	// Elimina CPFs invalidos conhecidos	
	if (cpf.length != 11 || 
		cpf == "00000000000" || 
		cpf == "11111111111" || 
		cpf == "22222222222" || 
		cpf == "33333333333" || 
		cpf == "44444444444" || 
		cpf == "55555555555" || 
		cpf == "66666666666" || 
		cpf == "77777777777" || 
		cpf == "88888888888" || 
		cpf == "99999999999")
			return false;		
	// Valida 1o digito	
	add = 0;	
	for (i=0; i < 9; i ++)		
		add += parseInt(cpf.charAt(i)) * (10 - i);	
		rev = 11 - (add % 11);	
		if (rev == 10 || rev == 11)		
			rev = 0;	
		if (rev != parseInt(cpf.charAt(9)))		
			return false;		
	// Valida 2o digito	
	add = 0;	
	for (i = 0; i < 10; i ++)		
		add += parseInt(cpf.charAt(i)) * (11 - i);	
	rev = 11 - (add % 11);	
	if (rev == 10 || rev == 11)	
		rev = 0;	
	if (rev != parseInt(cpf.charAt(10)))
		return false;		
	return true; 
}
$('#button-confirm').on('click', function() {
	if(!TestaCPF(document.querySelector('[name="card_holder_document"]').value) || !document.querySelector('[name="card_holder_document"]').checkValidity()) {
		$('#errors').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i><button type="button" class="close" data-dismiss="alert">&times;</button> CPF inválido</div>');
		return
	}
	$.ajax({
		method: 'POST',
		url: 'index.php?route=extension/payment/safrapay_cc/confirm',
		dataType: 'json',
		data: jQuery('.form-safrapay-cc').serialize(),
		beforeSend: function() {
			$('#button-confirm').button('loading');
		},
		complete: function() {
			$('#button-confirm').button('reset');
		},
		success: function(json) {
			if (json['redirect']) {
				location = json['redirect'];	
			}
			if (json['error']) {
				$('#errors').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i><button type="button" class="close" data-dismiss="alert">&times;</button> ' + json['error'] + '</div>');
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
				$('#errors').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i><button type="button" class="close" data-dismiss="alert">&times;</button> ' + thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText + '</div>');
			}
	});
});
//--></script>
<script>
	
function getAntiFraudType() {
	return '{{ tipo_antifraude }}'
}
function getAntiFraudId() {
	return '{{ token_antifraude }}'
}
function loadKonduto() {
	try {
			(() => {
					const period = 300;
					const limit = 20 * 1e3;
					let nTry = 0;
					const intervalID = setInterval(() => {
							const kondutoObj = (window).Konduto;
							let clear = limit / period <= ++nTry;
							if (
									typeof kondutoObj !== "undefined" &&
									typeof kondutoObj.getVisitorID !== "undefined"
							) {
									const visitorID = kondutoObj.getVisitorID();
									//this.kondutoVisitorID = visitorID;
									console.log("loadKonduto");
									console.log(visitorID);
									document.getElementById('antifraud_token').setAttribute('value',visitorID);
									clear = true;
							}
							if (clear) {
									clearInterval(intervalID);
							}
					}, period);
			})();
			return;
	} catch (error) {
			console.log(error)
			return;
	}
}

function loadClearSale(publicKey) {
	try {
			(() => {
					const period = 300;
					const limit = 20 * 1e3;
					let nTry = 0;
					const intervalID = setInterval(() => {
							const csdpObj = (window).csdp;
							const csdmObj = (window).csdm;

							let clear = limit / period <= ++nTry;
							if (
									typeof csdpObj !== "undefined" &&
									typeof csdmObj !== "undefined" &&
									typeof publicKey !== "undefined"
							) {
									(window).csdp("app", publicKey);
									(window).csdp("outputsessionid", "antifraud_token");
									(window).csdm('app', publicKey);
									(window).csdm('mode', 'manual');
									(window).csdm("send", "checkout");
									// console.log('clearsaleSessionId');
									// var visitorID = document.getElementById('clearsaleSessionId').getAttribute('value');
									// console.log(visitorID);
									// document.getElementById('antifraud_token').innerHTML = visitorID;
									clear = true;
							}
							if (clear) {
									clearInterval(intervalID);
							}
					}, period);
			})();
			return;
	} catch (error) {
			return;
	}
}
if (getAntiFraudType()=='konduto') {
	try {
			const pk = getAntiFraudId();
			// @ts-ignore
			window.__kdt = window.__kdt || [];
			// @ts-ignore
			window.__kdt.push({public_key: pk});
			((a, b, c, d, e, f, g) => {
					a['KdtObject'] = e;
					a[e] = a[e] || function () {
							(a[e].q = a[e].q || []).push(arguments)
					}
					// @ts-ignore
					a[e].l = 1 * new Date();
					f = b.createElement(c),
							g = b.getElementsByTagName(c)[0];
					// @ts-ignore
					f.src = d;
					// @ts-ignore
					f.async = true;
					// @ts-ignore
					g.parentNode.insertBefore(f, g)
			})(window, document, 'script', 'https://i.k-analytix.com/k.js?now=' + Date.now(), 'csdp');
			loadKonduto();
	} catch (error) {
	}
}
// CLear Sale
console.log(getAntiFraudType())
if (getAntiFraudType()=='clearsale') {
	((a, b, c, d, e, f, g) => {
			a['CsdpObject'] = e;
			a[e] = a[e] || function () {
					(a[e].q = a[e].q || []).push(arguments)
			}
			// @ts-ignore
			a[e].l = 1 * new Date();
			f = b.createElement(c),
					g = b.getElementsByTagName(c)[0];
			// @ts-ignore
			f.src = d;
			// @ts-ignore
			f.async = true;
			// @ts-ignore
			g.parentNode.insertBefore(f, g)
	})(window, document, 'script', '//device.clearsale.com.br/p/fp.js?now=' + Date.now(), 'csdp');
	(function (a, b, c, d, e, f, g) {
			a['CsdmObject'] = e;
			a[e] = a[e] || function () {
					(a[e].q = a[e].q || []).push(arguments)
			};
			// @ts-ignore
			a[e].l = 1 * new Date();
			f = b.createElement(c);
			g = b.getElementsByTagName(c)[0];
			// @ts-ignore
			f.src = d;
			// @ts-ignore
			f.async = true;
			// @ts-ignore
			g.parentNode.insertBefore(f, g);
	})(window, document, 'script', '//device.clearsale.com.br/m/cs.js?now=' + Date.now(), 'csdm')
	loadClearSale(getAntiFraudId());
}
</script>