<div id="errors"></div>
<form class="form-safrapay-pix form">
	<input type="hidden" name="antifraud_token" id="antifraud_token" />
	<div class="row text-center">
		<div class="col-md-6 col-md-push-3">
			<div class="logo">
					<h3>Seu pix será cobrado por:</h3>
					<a href="https://safrapay.com.br" target="_blank"><img style="width: 300px" src="https://portal.safrapay.com.br/logo.png" /></a>
			</div>
			<br/>
			<label><input type="checkbox" name="safrapay_checkbox" required id="safrapay_checkbox" /> Aceito os <a href="admin/view/image/payment/safrapay/Termos-de-Uso-Portal-Aditum-V3-20210512.pdf" target="_blank" rel="noopener">TERMOS & CONDIÇÕES</a></label>
			<div class="buttons">
				<input type="button" value="{{ button_confirm }}" id="button-confirm" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
			</div>
		</div>
	</div>
</form>
<script type="text/javascript"><!--
$('#button-confirm').on('click', function() {
	$.ajax({
		url: 'index.php?route=extension/payment/safrapay_pix/confirm',
		dataType: 'json',
		data: jQuery('.form-safrapay-pix').serialize(),
		beforeSend: function() {
			$('#button-confirm').button('loading');
		},
		complete: function() {
			$('#button-confirm').button('reset');
		},
		success: function(json) {
			if (json['redirect']) {
				location = json['redirect'];	
			}
			if (json['error']) {
				$('#errors').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i><button type="button" class="close" data-dismiss="alert">&times;</button> ' + json['error'] + '</div>');
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			$('#errors').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i><button type="button" class="close" data-dismiss="alert">&times;</button> ' + thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText + '</div>');
		}
	});
});
//--></script>